/* Estilos para el header */
header {
  background-color: #333;
  padding: 20px 0; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0;
}

.nav {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.nav li {
  display: inline-block;
  list-style: outside none none;
  padding: 0;
}

.nav a {
  padding: 20px;
  color: rgba(182, 182, 182, 0.637);
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.nav a::before,
.nav a::after {
  content: '';
  height: 12px;
  width: 12px;
  position: absolute;
  transition: all 0.4s ease;
  opacity: 0;
}

.nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #e6e6e677;
  border-right: 3px solid #0a4bff77;
  transform: translate(-100%, 100%);
}

.nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #0a4bff77;
  border-left: 3px solid #e6e6e677;
  transform: translate(-100%, 100%);
}

.nav a:hover:before,
.nav a:hover:after{
  transform: translate(0,0);
  opacity: 1;
  scale: 1.5;
}

.nav a:hover {
  color: #ffffffb4;
  font-size: 21px;
}