html, body { padding: 0; margin: 0;} 

.p-datatable .p-datatable-thead > tr > th  {
    text-align: center !important;
}

.p-datatable .p-datatable-tbody > tr > td {
    text-align: center !important;
}

.p-invalid {
    color: #ee0000;
}
